.main{
    width: 100%;
    height: 48px;
    background-color: #EBF3F7;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer{
    width: 90%;
    font-family: 'SourceSansPro-Regular', serif;
    max-width: 1236px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
}