.form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
.form-input {
    width: calc(50% - 10px);
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.form-input label {
    font-family: 'SourceSansPro-Regular', serif;
    margin-bottom: 3px;
}
.form-input input {
    height: 28px;
    padding-left: 5px;
}
.form-input select {
    height: 32px;
    padding-left: 2px;
}
.form-button-light:disabled {
    background-color: #a8bdc7;
    color: #929292;
}
.form button {
    background-color: #6254ff;
    color: #ffffff;
    border-radius: 4px;
    border: 0;
    margin: auto;
    font-family: 'SourceSansPro-SemiBold', serif;
    font-size: 14px;
    width: 80%;
    height: 30px;
}
.form button:disabled {
    background-color: #ebf3f7;
    color: #7291a0;
}
.form button:enabled {
    cursor: pointer;
}
.form-error {
    border-radius: 5px;
    font-family: 'SourceSansPro-Regular', serif;
    /*border: 1px solid #D83341;*/
    color: #d83341;
    width: 100%;
    margin-top: 10px;
    display: flex;
    align-items: center;
}
.form-icon-error {
    width: 20px;
    height: 20px;
    margin-right: 3px;
}
@media only screen and (max-width: 1440px) and (min-width: 1281px) {
}
@media only screen and (max-width: 1280px) and (min-width: 801px) {
}
@media only screen and (max-width: 800px) {
    .form button {
        width: 100%;
    }
    .form-input {
        width: 100%;
    }
}
