.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 36px;
    margin-bottom: 34px;
}
.main p {
    font-family: 'Rubik-Bold', serif;
    font-size: 32px;
}
.main button {
    padding: 12px 24px;
    color: #ffffff;
    border: 0px;
    background: #6254ff;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'SourceSansPro-Bold', serif;
    font-size: 18px;
    user-select: none;
}
.postulations {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.postulation {
    display: flex;
    justify-content: space-between;
    color: #0d1e38;
    height: 75px;
    align-items: center;
}
.postulations .postulation:nth-of-type(2n) {
    background-color: #ebf3f7;
}
.postulation-text {
    width: 300px;
}
.postulation-name {
    font-family: 'SourceSansPro-Regular', serif;
    font-size: 18px;
}
.postulation-technologies {
    font-family: 'SourceSansPro-Regular', serif;
    font-size: 14px;
}
.postulation-status {
    color: #ffffff;
    width: 120px;
    user-select: none;
}
.postulation-status-Pending {
    background-color: #DB8507;
}
.postulation-status-Done {
    background-color: #61AF11;
}
.postulation-status p {
    width: max-content;
    margin: auto;
    font-family: 'SourceSansPro-Regular', serif;
    font-size: 14px;
    padding: 6px 12px;
    border-radius: 100px;
}
.postulation-circle {
    width: 20px;
    height: 20px;
    margin-left: 16px;
}
.postulation-chat {
    width: 24px;
    height: 24px;
    margin-right: 24px;
    cursor: pointer;
}
