.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo {
    width: 130px;
    padding-right: calc(68% - 130px);
    margin-top: auto;
    margin-bottom: auto;
}
.form {
    width: 68%;
    display: flex;
    flex-direction: column;
}
.title {
    font-family: 'Rubik-Bold', serif;
    font-size: 28px;
    margin-bottom: 22px;
    color: #0d1e38;
}
.container-input{
    display: flex;
    flex-direction: column;
}
.form-input {
    padding: 12px 16px 12px 16px;
    font-family: 'SourceSansPro-Regular', serif;
    font-size: 18px;
    border-radius: 4px;
    background-color: #ffffff;
    border: 1px solid #cadbe3;
    color: #335065;
    width: calc(100% - 34px);
    margin-top: 10px;
    margin-bottom: 6px;
}

.form-input:focus{
    outline: none;
}

.form-input-error{
    display: flex;
    align-items: center;
    gap: 4px;
    color: #d83341;
    font-size: 14px;
}

.form-input:placeholder-shown {
    background-color: #ffffff;
}
.full-name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.form-input2 {
    padding: 12px 16px 12px 16px;
    font-family: 'SourceSansPro-Regular', serif;
    font-size: 18px;
    border-radius: 4px;
    background-color: #ffffff;
    border: 1px solid #cadbe3;
    color: #335065;
    width: calc(50% - 44px);
    margin-top: 10px;
    margin-bottom: 6px;
}
.form-input2:placeholder-shown {
    background-color: #ffffff;
}
.form-div-password {
    position: relative;
}
.form-icon-eye {
    position: absolute;
    user-select: none;
    right: 18px;
    top: 23px;
    width: 24px;
    height: 24px;
    color: #7291a0;
}
.form-icon-eye:hover {
    cursor: pointer;
}
.form-button {
    background-color: #6254ff;
    color: #ffffff;
    border: 0;
    height: 47px;
    margin-top: 25px;
    margin-bottom: 10px;
    border-radius: 4px;
    font-family: 'SourceSansPro-Regular', serif;
    font-size: 16px;
    transition: 0.2s;
}
.form-button:enabled:hover {
    cursor: pointer;
}
.form-button:disabled {
    background-color: #f0f0f0;
}
.additional-text {
    width: 100%;
    height: 76px;
}
.additional-text2 {
    font-family: 'SourceSansPro-Regular', serif;
    font-size: 14px;
    text-align: center;
}
.additional-link {
    font-family: 'SourceSansPro-Bold', serif;
    color: #2764ff;
    text-decoration: none;
}
.form-error {
    border-radius: 5px;
    font-family: 'SourceSansPro-Regular', serif;
    /*border: 1px solid #D83341;*/
    margin-top: 10px;
    color: #d83341;
    width: 100%;
    display: flex;
    align-items: center;
}
.form-icon-error {
    width: 20px;
    height: 20px;
    margin-right: 3px;
}
.logo-footer {
    margin-top: auto;
    margin-bottom: 7.5%;
}
@media only screen and (max-width: 1440px) and (min-width: 1281px) {
    .additional-text {
        width: 100%;
        height: auto;
    }
}
@media only screen and (max-width: 1280px) and (min-width: 801px) {
    .form {
        width: 80%;
    }
    .logo {
        width: 120px;
        padding-right: calc(80% - 120px);
        margin-bottom: auto;
    }
    .additional-text {
        width: 100%;
        height: auto;
    }
}
@media only screen and (max-width: 800px) {
    .form {
        width: 90%;
    }
    .logo {
        width: 120px;
        padding-right: calc(90% - 120px);
        margin-top: auto;
        margin-bottom: auto;
    }
    .full-name {
        flex-direction: column;
    }
    .form-input2 {
        width: calc(100% - 34px);
    }
    .additional-text {
        width: 100%;
        height: auto;
    }
    .logo-footer {
        margin-top: auto;
        margin-bottom: 5%;
    }
}
