.main {
    width: 100%;
    height: calc(100% - 48px);
    display: flex;
    flex-direction: row;
}
.logo {
    width: 130px;
    padding-right: calc(68% - 130px);
    margin-top: 24%;
    margin-bottom: auto;
    user-select: none;
}
.background-0 {
    background-image: url('./../../../public/images/pexels-fauxels-3183148.jpg');
    background-size: cover;
    background-position: 50%;
    width: 63.05%;
    height: 100%;
    margin: 0;
    transition: 1s;
}
.background-1 {
    background-image: url('./../../../public/images/pexels-mikhail-nilov-7682463.png');
    background-size: cover;
    background-position: 50%;
    width: 63.05%;
    height: 100%;
    margin: 0;
    transition: 1s;
}
.background-2 {
    background-image: url('./../../../public/images/password.jpg');
    background-size: cover;
    background-position: 50%;
    width: 63.05%;
    height: 100%;
    margin: 0;
    transition: 1s;
}
.outlet {
    width: 36.95%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo-footer {
    margin-top: auto;
    margin-bottom: 7.5%;
    user-select: none;
}

@media only screen and (max-width: 1440px) and (min-width: 1281px) {
}
@media only screen and (max-width: 1280px) and (min-width: 801px) {
    .background {
        width: calc(100% - 475px);
    }
    .outlet {
        width: 475px;
    }
}
@media only screen and (max-width: 800px) {
    .outlet {
        width: 100%;
    }
    .background-0 {
        display: none;
    }
    .background-1 {
        display: none;
    }
    .background-2 {
        display: none;
    }
    .logo-footer {
        display: none;
    }
    .logo {
        width: 130px;
        padding-right: calc(90% - 130px);
        margin-left: 0px;
        margin-top: auto;
        margin-bottom: auto;
        user-select: none;
    }
    .space {
        margin: auto;
    }
}
