.table{
    width: 100%;
    border-collapse: collapse;
}
.thead {
    background-color: #CADBE3;
    height: 28px;
}
.tbody .tr:nth-of-type(2n) {
    background-color: #ebf3f7;
}
.tbody .tr {
    height: 39px;
}
.td {
    padding-left: 10px;
    text-align: center;
    padding-right: 10px;
}