.main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 20px;
    font-family: 'SourceSansPro-Regular', serif;
    font-size: 14px;
}
.cell {
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 4px;
    position: relative;
    color: #0f1f39;
    transition: 0.5s;
}
.cell .title {
    background-color: #cadbe3;
    border-radius: 4px 4px 0 0;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.title {
    font-family: 'Rubik-Bold', serif;
    font-size: 16px;
    margin-bottom: 10px;
}
.container{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}
@media only screen and (max-width: 1440px) and (min-width: 1281px) {
}
@media only screen and (max-width: 1280px) and (min-width: 801px) {
}
@media only screen and (max-width: 800px) {
    .cell {
        width: 100% !important;
        margin-left: 0px;
    }
}
