.modal {
    background-color: rgb(255, 255, 255, 0.2);
    backdrop-filter: blur(1px);
    position: fixed;
    z-index: 200;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}