.main {
    width: 100%;
    height: 48px;
    background-color: #ebf3f7;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer {
    width: 90%;
    font-family: 'SourceSansPro-Regular', serif;
    max-width: 1236px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
}
@media only screen and (max-width: 800px) {
    .footer {
        flex-direction: column;
        width: 90%;
        height: 48px;
        justify-content: space-around;
    }
    .footer {
        font-size: 13px;
    }
}
