.link-0 {
    background-color: #00000000;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
    border: 0px;
    border-radius: 100px;
    margin-right: 32px;
    font-family: 'SourceSansPro-Regular', serif;
    font-size: 14px;
}
.link-0:hover {
    cursor: pointer;
}
.link-1 {
    background-color: #335065;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
    border: 0px;
    border-radius: 100px;
    margin-right: 32px;
    font-family: 'SourceSansPro-Regular', serif;
    font-size: 14px;
}
@media only screen and (max-width: 800px) {
    .link-0 {
        margin-left: 16px;
        margin-right: 0px;
        font-size: 20px;
        padding: 14.8px;
    }
    .link-1 {
        margin-left: 16px;
        margin-right: 0px;
        font-size: 20px;
        padding: 14.8px;
    }
}
