.main {
    display: none;
}
.close {
    margin-top: 35px;
    margin-right: 16px;
    width: 32px;
    height: 32px;
}
.head {
    height: 96px;
    display: flex;
    justify-content: space-between;
}
.title {
    font-family: 'SourceSansPro-Bold', serif;
    color: #ffffff;
    font-size: 32px;
    margin-top: 32px;
    margin-left: 16px;
}
.options {
    height: calc(100% - 208px);
    overflow-y: auto;
}
.footer {
    width: 100%;
    height: 112px;
}
.footer-option {
    display: flex;
    width: min-content;
    padding-right: 10px;
    align-items: center;
    margin-left: 31px;
    margin-bottom: 32px;
}
.footer-option p {
    font-size: 14px;
}
.icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    color: #ffffff;
}
@media only screen and (max-width: 800px) {
    .main {
        display: flex;
        flex-direction: column;
        position: fixed;
        background-color: #7291a0;
        color: #ffffff;
        width: 80%;
        height: 100%;
        z-index: 100;
        overflow: hidden;
    }
}
